@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

body {
  font-family: Playfair Display, serif;
  font-size: 20px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: grey;
}

/* контент сделали по центру */
.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.frame {
  width: 200;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 40px;
}

.info-text p {
  font-weight: normal;
  color: #86898f;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
}

@media (max-width: 770px) {
  /* нам нужно переместить картинку и текст по центру и для этого обратимся к .info */
  .info {
    /* и учитывая, что теперь они должны идти не в линию, а друг за другом, то уберём у него
    display: flex; и ставим display: block;. И когда уменьшим ширину, картинка и текст будут перекидываться (то есть
    текст будет падать под картинкой) + добавим text-align: center, чтобы элемент центрировался.*/
    display: block;
    text-align: center;
  }
}

.card {
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-yellow {
  background: #cd853f;
}

.bg-green {
  background: #d2b48c;
}

.bg-red {
  background: #f5deb3;
}

.btn {
  background: #111;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn {
  padding: 0 20px;
}

.list li {
  color: #eee;
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  /* добавим небольшое пространство между ссылкой и границей */
  padding-bottom: 7px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

/* покрасим 2-ой столбец и 3-ий столбец с помощью td:nth-child(2) и td:nth-child(3) */
.table td:nth-child(2),
.table td:nth-child(3) {
  color: #800000;
}

.form h2 {
  text-align: center;
}

.form-raw {
  margin-bottom: 10px;
  display: flex;
}

.form-raw,
.form-group {
  /* display: inline-block; */
  margin-right: 20px;
  width: 50%;
  /* width: 80%; */
}

/* для последнего элемента (email) уберём margin-right */
.form-raw,
.form-group:last-child {
  margin-right: 0;
}

/* в разделе feedback, хотим, чтобы каждый input был новой строчке */
@media (max-width: 770px) {
  /* получается, что за счёт у display: flex; у class-а , form-raw, мы их перекидываем на новую строчку
  (display: flex; значение flex меняем на block) */
  .form-raw {
    display: block;
  }

  /* и в этот момент нужно добавить отступ между элементами и сделать их на всю ширину */
  .form-raw .form-group {
    width: 100;
    /*уберём margin-right. он нам больше здесь не нужен */
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* даём значение block, потому что по умолчанию label - это inline элемент. И после того кк добавили display: block; у нас появился перенос строк */
.form-group label {
  display: block;
  font-size: 14px;
  color: #191a1f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: 0;
  font-family: inherit;
}
